*		{margin:0 padding:0}

#container
{
	width:940px;
	padding:20px;
	margin: 20px auto;
	position: relative;
}

#titleBox
{
	height: 150px;
	width: 940px;
}

#newsBox
{
	background-color:blue;
	float:left;
	height: 350px;
	width: 120px;
}

#contentBox
{
	background-color:red;
	float:right;
	height:350px;
	width: 800px;
}

#footerBox
{
	margin-top:20px;
	background-color:#EFE9E9;
	height:50px;
	width:940px;
	float:left;
	


}