*
{
	margin:0 padding:0
}

body
{
	background-color:#C0C0C0;
	font-family: arial, helvetica;

}

p
{
	text-indent:20px;
}



ul.linkList
{
	list-style:none;
	margin-left:100px;
	margin-right:100px;
	margin-bottom:10;
}

.link a
{
	display:block;
	padding-left:20px;
	padding-right:20px;
	padding-top:5px;
	padding-bottom:5px;
	margin-left:10px;
	color:white;
	border-radius:10px;
	-moz-border-radius:10px;
	background-image:url("../images/backGradient.jpeg");
	background-repeat:repeat-x;

}

li.link
{
	float:left;	
}

#container
{
	background-image:url("../images/finalBanner.jpg");
	background-position:top center;
	background-repeat:no-repeat;
	background-color:#C0C0C0;
	width:940px;
	padding:20px;
	margin: 20px auto;
	position: relative;
}

#titleBox
{
	margin-top:296px;
	height: 70px;
	width: 940px;
	border-bottom-style:solid;
	border-color:#EEEEEE;
}

#titleBox h1
{
	text-align: center;
	font-size: 30px;
	margin-bottom:50px;
}

#imageBox
{
	float:left;
	background-image:url("../images/tempSoldier.jpeg");
	width:270px;
	height:180px;
	margin: 20px;
}

#contentBox
{
	margin-top:20px;
	padding-top: 20px;
	background-color:#C0C0C0;
	float:right;
	min-height:560px;
	height: auto;
	width: 600px;
	border: solid #EEEEEE;
	-moz-border-radius:15px;
	border-radius:15px;
}

.inner
{
	padding:10px;
}

#contentBox h2
{
	text-align: center;
	border-bottom-style: solid;
	border-color: #EEEEEE;
	padding-bottom: 10px;
}

.module {
	margin-left: 20px;
	margin-top: 20px;
	background-color: #c0c0c0;
	float: left;
	clear: left;
	width: 230px;
	border: solid #EEEEEE;
	-moz-border-radius: 15px;
	border-radius: 15px;
	position: relative;
}

.module h2 {
	text-align: center;
	border-bottom: solid #EEEEEE;
	padding-bottom: 10px;
}

#linkBox
{
	width:220px;
	position:absolute;
	bottom:0;
}



#footerBox
{
	margin-top:20px;
	margin-left:20px;
	background-color:#C0C0C0;
	padding: 20px;
	height:10px;
	width:875px;
	float:left;
	border: solid #EEEEEE;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:15px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	text-align:center;
	border-bottom: none;
}

A:link
{
	text-decoration:none;
	color:#EEEEEE;
}

A:active
{
	text-decoration:none;
	color:#EEEEEE;

}

A:visited
{	
	text-decoration:none;
	color:#EEEEEE;
}

A:hover
{
	text-decoration:none;
	color: #6A93D4;
}

#actionbar {
	background: #333;
	padding: 5px 10px;
}

#actionbar p {
	float: left;
	color: #fff;
	padding: 5px 0;
}

#actionbar .links {
	list-style: none;
	float: right;
}

#actionbar .links li {
	float: left;
}

#actionbar .links a	{
	display: block;
	float: left;
	margin-left: 5px;
	padding: 5px 10px;
	background: #666;
}

.clear {
	clear: both;
}

form .row {
	width: 100%;
	float: left;
}

form .row label {
	float: left;
}

form .row input, form .row textarea {
	float: left;
}

form textarea {
	width: 400px; height: 300px;
}